{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static 'shop/css/base.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shop/css/base.css' %}" rel="stylesheet">
</head>
<body>
<a href="{% url 'shop:login' %}" class="btn btn-danger" type="button">Login</a>
<a href="{% url 'shop:logout' %}" class="btn btn-danger" type="button">Logout</a>
<a href="{% url 'shop:register' %}" class="btn btn-danger" type="button">Register</a>

<div id="header">
    <a href="/" class="logo">MY SHOP</a>

</div>
<div id="subheader">
    <div class="cart">
        Your cart is empty.
    </div>


</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>